.monaco-shell.vs-dark {
    background-color: var(--theme-base);
}

.vs-dark .monaco-workbench .monaco-editor-background {
    background-color: var(--theme-base);
}

.vs-dark .quick-open-widget {
    background-color: var(--theme-base);
}

.vs-dark .monaco-workbench {
    background-color: var(--theme-base);
    --input-bgcolor: var(--theme-darker);
}

.vs-dark .monaco-workbench .sidebar {
    border-right: solid 1px #000;
}

.vs-dark .settings-header-widget>.settings-search-container {
    background: none;
}

.vs-dark .monaco-workbench>.activitybar>.content {
    background: var(--theme-darker);
}

.vs-dark .monaco-workbench>.part.editor>.content>.one-editor-silo>.container>.title .tabs-container>.tab:not(.active) {
    background: var(--theme-darker);
}

.vs-dark .monaco-scrollable-element>.scrollbar>.slider {
    background-color: var(--theme-slider);
}

.vs-dark .monaco-workbench>.part.titlebar {
    background: var(--theme-darker);
}

.vs-dark .monaco-workbench>.part.editor>.content>.one-editor-silo>.container>.title.tabs {
    background: var(--theme-darker);
}

.vs-dark .monaco-workbench>.sidebar>.title>.title-actions {
    background: var(--theme-darker);
}

.monaco-workbench>.part>.composite.title {
    background: var(--theme-darker);
}

.vs-dark .monaco-tree .monaco-tree-row.selected:not(.highlighted) {
    background: var(--theme-darker);
}

.monaco-workbench>.part.statusbar {
    background: var(--theme-statusbar);
}